<footer class="bg-light text-center text-lg-start">
  <div class="footer">
    <div>
      <span style="color: #BDBDC7;">&copy; All rights reserved. MyXalary 2021</span>
    </div>
    <div>
      <a href="#"><span style="color: white;">Privacy Policy</span></a>
      <a href="#"><span style="color: white;">Terms & Condition</span></a>
    </div>
    <div class="icons">
      <img src="../../assets/facebook.png" alt="" class="side-image">
      <img src="../../assets/twitter.png" alt="" class="side-image">
      <img src="../../assets/instagram.png" alt="" class="side-image">
      <img src="../../assets/linkdn.png" alt="" class="side-image">
    </div>

  </div>
</footer>