<main class="container" style="color: #5E5873;">

    <div class="text-center mt-5">

        <h2>Application Tracker</h2>
        <p>Login to access and manage your job applications</p>

    </div>

    <div class="container mx-auto">

        <form class="py-5">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <div class="w-50 mx-auto">
                    <label class="form-label" for="form2Example1">Email address <span class="text-danger">*</span></label>
                </div>
                <div>
                    <input type="email" required id="form2Example1" class="form-control mx-auto w-50" />
                </div>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-5">
                <div class="w-50 mx-auto">
                    <label class="form-label" for="form2Example1">Password <span class="text-danger">*</span></label>
                </div>
                <div>
                    <input type="password" id="form2Example1" required class="form-control mx-auto w-50" />
                </div>
            </div>

            <div class="form-outline mb-5">
                <div class="w-50 mx-auto">
                    <label class="form-label" for="form2Example1">Confirm Password <span class="text-danger">*</span></label>
                </div>
                <div>
                    <input type="password" id="form2Example1" required class="form-control mx-auto w-50" />
                </div>
            </div>
          
         
          
            <!-- Submit button -->
            

                <button type="button" class="btn btn-primary  mb-4 d-flex mx-auto w-25 justify-content-center" style="background-color: #440F7C;">Sign Up</button>
        
          
            <!-- Register buttons -->
            <div class="text-center">
                <div>
                    <p>Already have an account <a href="#!" style="color: red; text-decoration: none;">Login</a></p>
                </div>
            </div>
          </form>

    </div>



</main>