<main class="container" style="color: #5E5873;">

    <div class="text-center mt-5">

        <h2>Change Passwords</h2>
        <p>Make sure to create something secure and you can easily remember.</p>

    </div>

    <div class="container mx-auto">

        <form class="py-5">
            <!-- Email input -->
            <div class="form-outline mb-4">
                <div class="w-50 mx-auto">
                    <label class="form-label" for="form2Example1">Password <span class="text-danger">*</span></label>
                </div>
                <div>
                    <input type="password" required id="form2Example1" class="form-control mx-auto w-50" />
                </div>
            </div>
          
            <!-- Password input -->
            <div class="form-outline mb-5">
                <div class="w-50 mx-auto">
                    <label class="form-label" for="form2Example1">Confirm Password <span class="text-danger">*</span></label>
                </div>
                <div>
                    <input type="password" id="form2Example1" required class="form-control mx-auto w-50" />
                </div>
            </div>
          
         
          
            <!-- Submit button -->
            

                <button type="button" class="btn btn-primary btn-block mb-4 d-flex mx-auto w-22" style="background-color:#440F7C;">Save Password</button>
    
          </form>

    </div>



</main>