<div class="container">
  <div class="row">
    <div class="col-xs 12">
       <!-- <app-header></app-header>  -->
      <!-- <app-header-two></app-header-two> -->
      <!-- <app-header-three></app-header-three>  -->
      <!-- <div class="sidebar-body"> -->
        <!-- <app-job-logged></app-job-logged> -->
        <!-- <app-side-bar></app-side-bar> -->
        <!-- <app-applications></app-applications> -->
        <!-- <app-my-offer></app-my-offer> -->
        <!-- <app-job-history></app-job-history> -->
        <!-- <app-my-profile></app-my-profile> -->
      <!-- </div>  -->
      
      <!-- <app-applied-job></app-applied-job> -->

      <!-- <app-login-page></app-login-page> -->
      <!-- <app-forgot-password-page></app-forgot-password-page> -->
      <!-- <app-change-password-page></app-change-password-page> -->
      <!-- <app-sign-up-page></app-sign-up-page> -->
      <app-job-page></app-job-page>
      
      <!-- <app-footer></app-footer> -->


      <!-- <app-personal-info-modal></app-personal-info-modal> -->
      <!-- <div class="text-center" (click)="openDialog()">
        <div>Launch Form</div>
      </div> -->
      
     
      
      <!-- <div app-warning-alert></div>
      <div app-success-alert></div> -->
    </div>
  </div>
</div>