<section class="container top-container ">
    

    <div class="profile-carrier shadow-sm pt-4 px-1 ">

        <div class="information d-flex justify-content-between px-2 py-2 align-item-center">
        
            <h5>Information</h5>
            
            <div (click)="openDialog()">
                <img src="../../assets/editpen.png" alt="">
                <img src="../../assets/editword.png" alt="">
            </div>
        </div>

        <div class="row ">

            <div class="col-lg-6">

                <div class="row">

                    <div class="col-lg-5 flex flex-column ">

                        <div class="profile-avatar">
                            <img src="../../assets/woman.png" alt="">
                        </div>
        
                        <div class="profile-name text-align-center mt-5">
                            <h5 class="fw-bold">Ronke Busola</h5>
                            <p class="fw-light fs-6">Product Designer</p>
                        </div>

                    </div>

                    <div class="col-lg-7 profile-details">

                        <div class="d-flex gap-4 my-2">
                            <span> Phone: </span> <span >080233455678</span>
                        </div>

                        <div class="d-flex gap-4 my-2">
                            <span> Email: </span> <span >we@example.com</span>
                        </div>

                        <div class="d-flex gap-4 my-2">
                            <span> Birthday: </span> <span >June 30th 1998</span>
                        </div>

                        <div class="d-flex gap-4 my-2">
                            <span> Address: </span> <span>Trenches Arena 223456 road </span>
                        </div>

                        <div class="d-flex gap-4 my-2">
                            <span> Gender: </span> <span >Female</span>
                        </div>

                        <div class="d-flex gap-4 my-2">
                            <span> Location: </span> <span >Gbagada, Lagos NGA</span>
                        </div>

                    </div>

                </div>

            </div>

            <div class="col-lg-6">

                <div class="profile-skills">

                    <h6>Skills</h6>

                    <div class="profile-skills-skills d-lg-flex flex-wrap my-3">

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Illustrator </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Figma </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Photoshop </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Adobe Illustrator </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Sketch </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Node </span>

                    </div>

                </div>

                <div class="profile-tools">

                    <h6>Tools</h6>

                    <div class="profile-skills-skills d-lg-flex flex-wrap my-3">

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Illustrator </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Figma </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Photoshop </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Adobe Illustrator </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Sketch </span>

                        <span class="border border-danger rounded px-2 py-1 mx-1 my-2"> Node </span>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <div class="about-me mt-2">

        <div class="row shadow-sm pt-4 px-1">

            <div class="about d-flex justify-content-between px-2 py-2 align-item-center">
        
                <h5>About Me</h5>
                
                <div>
                    <img src="../../assets/editpen.png" alt="">
                    <img src="../../assets/editword.png" alt="">
                </div>
            </div>

            <p >
                Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                Hic facilis tenetur perferendis ut natus rem doloremque voluptas veniam, 
                alias, blanditiis ratione impedit error soluta rerum aperiam minus 
                consequatur distinctio incidunt.
                Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Laborum at obcaecati voluptatum quasi veniam harum corporis aliquid, 
                beatae nobis quam voluptas facilis fuga laboriosam pariatur architecto dolore 
                totam? Cum, explicabo.
            </p>
        </div>

    </div>

    <div class="work-experience">

        <div class="row shadow-sm pt-4 px-1">

            <div class="about d-flex justify-content-between px-2 py-2 align-item-center">
        
                <h5>About Me</h5>
                
                <div>
                    <img src="../../assets/editpen.png" alt="">
                    <img src="../../assets/editword.png" alt="">
                </div>
            </div>

            <div class="d-flex gap-4">

                <h6>Product Designer</h6>

                <p>ABC Technologies</p>

                <p>2000 - 2009</p>
    
            </div>

            <div>

                <ul>

                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor sit, amet  </li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing  Lorem ipsum elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing.</li>
                    <li>Lorem ipsum dolor sit amet consectetur.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                    <li>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum.</li>

                </ul>

            </div>

        </div>

    </div>

    <div class="projects">

        <div class="row shadow-sm pt-4 px-1">

            <div class="about d-flex justify-content-between px-2 py-2 align-item-center">
        
                <h5>Projects</h5>
                
                <div>
                    <img src="../../assets/editpen.png" alt="">
                    <img src="../../assets/editword.png" alt="">
                </div>
            </div>

            <div class="mb-4">

                <h5 class="fs-6">Project Title</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor</p>
                <a href="#" class="project-link"> Project Link</a>

            </div>

            <div class="mb-4">

                <h5 class="fs-6">Project Title</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor</p>
                <a href="#" class="project-link"> Project Link</a>

            </div>

            <div class="mb-4">

                <h5 class="fs-6">Project Title</h5>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit Lorem ipsum dolor</p>
                <a href="#" class="project-link"> Project Link</a>

            </div>

        </div>

    </div>

    <div class="education-document">

        <div class="row  pt-4 px-1">

            <div class="col-lg-6 shadow-sm">

                <div class="about d-flex justify-content-between px-2 py-2 align-item-center">
        
                    <h5>Education Information</h5>
                    
                    <div>
                        <img src="../../assets/editpen.png" alt="">
                        <img src="../../assets/editword.png" alt="">
                    </div>
                </div>

                <div class="mb-4">

                    <h6>International College of Design and coding - Undergraduate</h6>
                    <p>Bsc - Computer Science</p>
                    <p> 2000 - 2003</p>
    
                </div>

                <div class="mb-4">

                    <h6>International College of Design and coding - Postgraduate</h6>
                    <p>Bsc - Computer Science</p>
                    <p> 2000 - 2003</p>
    
                </div>

            </div>

            <div class="col-lg-6 shadow-sm">

                <div class="about d-flex justify-content-between px-2 py-2 align-item-center">
        
                    <h5>Education Information</h5>
                    
                    <div>
                        <img src="../../assets/editpen.png" alt="">
                        <img src="../../assets/editword.png" alt="">
                    </div>
                </div>

                <div>

                    <p>Document Name  <span style="color:red;">View</span></p>
                    <p>Document Name  <span style="color:red">View</span></p>
                    <p>Document Name  <span style="color:red">View</span></p>
                    <p>Document Name  <span style="color:red">View</span></p>
                    <p>Document Name  <span style="color:red">View</span></p>

                </div>

            </div>

        </div>

    </div>
    

</section>

