<nav class="navbar navbar-light bg-light justify-content-between mb-3">
    
    <form class="form-inline">
        <select name="" id="" class=" form custom-width-twenty">
            <option value="">20</option>
            <option value="">40</option>
            <option value="">50</option>
        </select>
    </form>

    <form class="form-inline">
        <select name="" id="" class="form custom-width-recent">
            <option value="">Recent</option>
            <option value="">Recent</option>
            <option value="">Recent</option>
        </select>
    </form>

    <form class="form-inline">
        <img src="../../../assets/search.png" alt="">
        <input class="form custom-width-search" type="search" placeholder="Search" aria-label="Search" >
    </form>

    <form class="form-inline">
        <select name="" id="" class="form custom-width-recent">
            <option value="">By Category</option>
            <option value="">two</option>
            <option value="">three</option>
        </select>
    </form>

    <form class="form-inline">
        <select name="" id="" class="form custom-width-recent">
            <option value="">By Rating</option>
            <option value="">two</option>
            <option value="">three</option>
        </select>
    </form>

    <form class="form-inline">
        <select name="" id="" class="form custom-width-recent">
            <option value="">By Tag</option>
            <option value="">By Tag</option>
            <option value="">By Tag</option>
        </select>
    </form>

    <button class="button-filter" type="submit"><span> Filter</span></button>
</nav>
