<div class="container mt-5 shadow-lg mb-5 py-3 " style="color: #5E5873;">
    <div class="d-flex justify-content-between py-3 ">
        <h4 class="fw-bold">
            Product Designer
        </h4>
        <button class="btn btn-secondary px-4 border border-0 fw-bold" type="submit" style="background-color: #DACFE5; color: #440F7C;">Applied</button>
    </div>

    <div class="d-flex justify-content-between mt-2">
        <p >LAGOS, NGA / ATB TECHSOFT SOLUTIONS / INFORMATION TECHNOLOGY</p>

        <P>Date Posted: 20/07/2021</P>
    </div>

    <div>
        <h5 class="fw-bold"> Product Designer Job Description</h5>

        <div>
            <h6 class="fw-bold">Job Overview</h6>
            <p>ATB Techsoft Solutions Limited, a leading firm in Information Technology industry in the metro area. 
                <br />We're pleased to have a 4.0 Glassdoor rating. We are looking to hire an experienced Product Designer 
                to help us keep growing.<br /> If you're hard-working and dedicated, ATB Techsoft Solutions Limited, 
                is an ideal place to get ahead. Apply today!</p>

            <h6 class="fw-bold">Responsibilities for Product Designer</h6>

            <p>
                Create design concepts and drawings to determine the best product
                <br />Present product ideas to relevant team members for brainstorming
                <br />Suggest improvements to design and performance to product engineers
                <br />Employ design concepts into functional prototypes
                <br />Perform research on product technologies and structures to implement into design concepts
                <br />Maintain up to date on current industry trends and market conditions
                <br />Coordinate with designers to ensure accurate communication and efficiency in the design phase
                <br />Modify and revise existing designs to meet customer expectations
            </p>

            <h6 class="fw-bold">Qualifications for Product Designer</h6>
            <p>
                Relevant work experience as a product designer is preferred
                <br />Exceptional verbal and written communication skills
                <br />Excellent eye for aesthetic design and customer appeal
                <br />Good understanding of color science and combinations
                <br />Artistic and innovative flair
                <br />Excellent attention to detail
                <br />Meticulous and diligent
                <br />Strong knowledge of the industry and market trends
                <br />Able to sit in front of a computer for long hours at a time
            </p>
            <h6 class="fw-bold">Required Educational Level: <span class="fw-light">Graduate</span></h6>
            <h6 class="fw-bold">Experience Level: <span class="fw-light">Professional</span></h6>
            <h6 class="fw-bold">Job Type:<span class="fw-light">Remote</span></h6>
            <h6 class="fw-bold">Job Role Type:<span class="fw-light">Full time</span></h6>
            <h6 class="fw-bold">Location:<span class="fw-light">Lagos, NGA</span></h6>
            <h6 class="fw-bold">Salary:<span class="fw-light">₦450,000.00 - ₦890,000.00</span></h6>
            
        </div>
        <div class="mt-5 ">
            <button class="btn btn-secondary px-4 border border-0 fw-bold" type="submit" style="background-color: #DACFE5; color: #440F7C;">Applied</button>
        </div>

    </div>
</div>